/* 
main 
*/
main {
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 15%, rgba(219, 219, 211, 1) 15%);
    height: 100vh;
}

.container {
    background-color: #EAEAEA;
    height: 95%;
    width: 90%;
    /* padding: 0; */
}

.row {
    height: 100%;
}

.row>* {
    height: 100%;
    overflow: hidden;
}

img {
    width: 50px;
}

header i {
    color: #B1B1B1;
}

/* 
notifica 
*/

.notify {
    color: #8fdafc;
}

.notify-container {
    background-color: #8fdafc;
}

/* 
contatti 
*/

.contact-container {
    height: 100%;
}

.active {
    background-color: #E9EBEB;
}

.chat .text-body-tertiary {
    font-size: small;
}

/* 
chat 
*/

.last-msg {
    font-size: 0.8rem;
}

.chat-container {
    padding: 30px;
    background-image: url('../img/mine.jpg');
}

.msg-sent {
    display: flex;
    justify-content: end;
}