.msgGreen {
    background-color: #009688;
}

.msgWhite {
    background-color: white;
}

/* main */

main {
    background-color: #009688;
    height: 100vh;
}

.container {
    background-color: #EAEAEA;
    height: 95%;
    width: 90%;
    padding: 0;
}

.row {
    height: 100%;
}

.row>* {
    height: 100%;
    overflow: hidden;
}

img {
    width: 50px;
}

header i {
    color: #B1B1B1;
}

/* notifica */

.notify {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #8fdafc;
    background-color: white;
}

.notify-container {
    background-color: #8fdafc;
}

/* lista chat */

.chat-container {
    height: 100%;
}

.active {
    background-color: #E9EBEB;
}

.chat .text-body-tertiary {
    font-size: small;
}